@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color: whitesmoke;
	background-color: #333;
	font-family: Poppins, sans-serif;
}

button,
input {
	font-family: inherit;
	cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.App > * {
	margin-top: 2rem;
	margin-inline: auto;
}

.pageTitle {
	text-align: center;
}
