.dropdown {
	min-width: 250px;
	max-width: 500px;
	padding: 2rem;
	border-radius: 0.5rem;
	background-color: hsla(0, 0%, 100%, 0.15);
}

.dropdownHeader {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.dropdownTitle {
	max-width: 85%;
}

.toggleDropdownButton {
	margin-left: auto;
	font-size: 1.5em;
	transition: 0.2s transform ease-in-out;
}
.toggleDropdownButton.open {
	transform: rotate(90deg);
}

.selectedOptions {
	list-style-type: none;
	width: 100%;
}

.selectedOption {
	display: inline-block;
	margin: 0.5rem 0.5rem 0 0;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	background-color: grey;
}

.options {
	display: none;
}
.options.open {
	display: block;
}

.toggleAllButton {
	margin: 1rem 1rem 1rem 0;
	color: rgb(131, 236, 131);
	text-decoration: underline;
}

.option {
	list-style-type: none;
	display: flex;
	gap: 0.5rem;
}
